@tailwind base;
@tailwind components;
@tailwind utilities;

.kanyeFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  
}

#Kanye-Quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  
}


.kanyeName {
  color: white;
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  flex-shrink: 0;
  padding: 1rem;
}

body {
  min-width: 375px;
  height: 100%;
  overflow: hidden;
}
.main {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 100vh;
  min-width: 375px;
}

.soundboard-img {
  height: 100%;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  font-size: 1.5rem;
  margin-top: auto;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
  flex-wrap: wrap;
  border: 0px solid #6b26b9;
  border-radius: 5px;
  margin: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s;
  width: 100px;
  text-align: center;
  color: white;
  background: linear-gradient(
    -45deg,
    #23a6d5,
    #6b26b9,
    #e73c7e,
    #ee7752,
    #e7ab3c
  );
  background-size: 190% 190%;
  animation: gradient 05s ease infinite;
  box-shadow: 0 0 10px #6b26b9;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px 10px #ffc600;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

kdb {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}

li > ul {
  transform: translatex(100%) scale(0);
}
li:hover > ul {
  transform: translatex(101%) scale(1);
}
li > button svg {
  transform: rotate(-90deg);
}
li:hover > button svg {
  transform: rotate(-270deg);
}

/* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
       See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
       for implementation with config file
  */
.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}
.scale-0 {
  transform: scale(0);
}
.min-w-32 {
  min-width: 8rem;
}


.volume-slider-con{
  height:10px;
  width:50%;
     position:relative;
  background-color: lightskyblue;
  margin: 0 2rem 0 1rem ;
}

.volume-slider{
   height:100%;
   width:100%;
   position:relative;
   background-color: cadetblue;
  
}


@media only screen and (max-width: 1147px) {
  .main {
    margin: auto;
    width: auto;
  }
  nav {
    font-size: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px black;
  }
  .keys {
    margin-top: auto;
  }

  @media only screen and (max-width: 600px) {
    .main {
      margin: 0px;
      width: 100%;
    }
    .keys {
      margin: 2px;
    }
  }

  @media only screen and (max-width: 375px) {
    body {
      overflow: hidden;
    }

    nav {
      font-size: 33px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-shadow: 0 0 10px black;
    }

    .saveRecRst section {
      margin: 0rem;
      box-shadow: 0 0 10px black;
    }

    .main {
      width: 100%;
      background: linear-gradient(
        -45deg,
        #23a6d5,
        #6b26b9,
        #e73c7e,
        #ee7752,
        #e7ab3c
      );
      background-size: 150% 150%;
      animation: gradient 05s ease infinite;
      box-shadow: 0 0 10px black;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .keys {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      font-size: 0.5rem;
      margin-top: 10px;
    }

    .key {
      display: flex;
      flex-direction: column;
      flex-shrink: 2;
      flex-wrap: wrap;
      border: 4px solid black;
      border-radius: 5px;
      margin: 0.5rem;
      margin-top: 0.5rem;
      font-size: 2rem;
      padding: 1rem 0.5rem;
      transition: all 0.07s;
      width: auto;
      text-align: center;
      color: white;
      background: #e7ab3c;
      box-shadow: 0 0 10px rgb(87, 87, 87);
    }

    .sound {
      color: white;
    }
  }
}